/* 版本侧栏样式 */
div#版本侧栏
{
    position: fixed;
    top:40%;
    right: 0%;
    font-size: 1.5em;
}
div#版本侧栏>a>p
{
    padding: 0.5em;
    border-style: solid
}
div#版本侧栏>a:visited 
{
    color:black;
}
div#版本侧栏>a:link 
{
    text-decoration:none;
}

/* 过长图片样式 */
.长图片外框 
{
    white-space: nowrap;
    overflow-x: scroll;
}

/* 图片外包围 */
span.卡牌 
{
    height: 500px;
    width: 360px;
    display: inline-block;
}
span.横版卡牌 
{
    height: 360px;
    width: 500px;
    display: inline-block;
}
span.未知卡牌 
{
    height: 250px;
    width: 180px;
    display: inline-block;
}
div.长图片外框
{
    height:500px; 
    width: 100%;
}